body {
  margin: 0;
}

h1{
position: relative;
z-index: 2;
color: azure;
/* padding-right: 500px; */
/* left: -200px; */
right: 150px;
margin-top: 10px;
}

.opensans{
  font-family: 'Open Sans', sans-serif;
}

.bold {
 font-weight: bold;
}
.italic {
 font-style: italic;
 margin: 0;
}

a:link{

  color: rgb(37, 37, 41);
  text-decoration: none;
}

a:visited {
  color: blueviolet;
}

a:hover {
  color: blue;
  text-decoration: underline;
}

a:active{
  color: rgb(195, 30, 30);
}